.NavigatorBoardView {
    border-radius: var(--border-radius);

    &.dragged-over {
        background-color: var(--sidebar-hover-color);
    }

    .board-header-section {
        padding: 5px 0px 5px 12px;

        &:hover {
            color: var(--text-color);
        }

        .board-header-title {
            cursor: pointer;
            overflow: hidden;
            color: var(--ui-text-color);
            line-height: normal;

            .Title {
                color: var(--ui-text-color);
                user-select: none;
            }
        }

        .header-control-section {
            display: inline-flex;
            align-items: center;
            height: 17px;

            .hover-control-section {
                display: none;
            }
        }

        &:hover {
            .hover-control-section {
                display: inline-flex;
            }
        }
    }

    .board-item-list {
        .board-item-list-row {
            .Icon svg {
                padding: 0;
            }

            .ListLink {
                max-width: 100%;
            }

            .delete-board-item-button {
                padding: 0;
                visibility: hidden;
            }

            &:hover {
                .delete-board-item-button {
                    visibility: visible;
                }
            }
        }
    }
}

.DataDocNavigatorBoardSection {

    .navigator-board-header {
        background-color: var(--light-bg-color);
        user-select: none;
        cursor: pointer;
        background: var(--color-button-bg);
        border-radius: var(--border-radius);
        margin-bottom: var(--padding);
        color: var(--ui-text-color);

        .Title {
            color: var(--light-text-color);
        }
    }

    .DataDocNavigatorBoardSection-list {
        padding-bottom: var(--padding);
    }

    .board-item-list-empty {
        font-size: var(--large-text-size);
        padding-right: 10px;
        padding-left: 10px;
    }
}
