.DataDocViewersList {
    width: 400px;
    padding: var(--padding);

    > div {
        padding: var(--padding);
    }

    .public-row-switch {
        padding-bottom: var(--padding);

        .Tabs {
            width: 100%;
        }
    }

    .public-row-description {
        padding-top: var(--padding);
        text-align: center;
    }

    .datadoc-add-user-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--padding);

        .add-user-icon {
            margin-top: 6px;
            margin-right: 6px;
        }

        .user-select-wrapper {
            flex: 1;
            margin-right: var(--padding);
            color: var(--invert-text-color);
        }
    }

    .viewers-list-wrapper {
        // Each row is 65px, show at most 5
        max-height: 320px;
        overflow-y: auto;
        padding-bottom: 0rem;
        padding-top: 0rem;

        > div:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
        }
    }

    .viewers-user-row {
        display: flex;
        justify-content: space-between;
        padding: var(--padding) 0px;

        .access-info {
            display: flex;
            align-items: center;
            text-align: right;
        }
    }
}
