.ViewerPermissionPicker {
    .permission-text {
        margin-right: 0.5rem;
        cursor: pointer;
        color: var(--ui-text-color);

        .caret-icon {
            margin-right: 0.25rem;
        }
    }
}
