.QueryComposer {
    width: 100%;
    overflow: hidden;

    .QueryComposer-header {
        padding: 10px;
        display: table;

        // for safari
        width: 100%;

        .QueryComposer-header-vertical {
            display: table-cell;
            vertical-align: middle;

            .Button:nth-child(2),
            .Button:nth-child(3) {
                margin-left: unquote("calc(2 * var(--padding))");
            }

            // .QueryComposer-delete-button,
            // .QueryComposer-datadoc-button {
            //     margin-left: var(--padding);
            // }
        }
    }

    .QueryComposer-content-editor {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        .query-editor-wrapper {
            flex: 2;
            overflow: auto;
            position: relative;
            padding: var(--padding);
            padding-top: 0px;

            .QueryEditor {
                border-radius: var(--border-radius);
                overflow: hidden;
            }

            .SearchAndReplaceBar {
                position: absolute;
                z-index: 9;
                right: 40px;
            }
        }

        .query-execution-wrapper {
            height: 100%;
            flex: 1;
            overflow-y: auto;

            .QueryComposerExecution {
                padding: 0px 20px;
            }
        }
    }
}
