@import './../../scss_variables.scss';

.QueryViewNavigator {
    display: flex;
    flex-direction: column;
    position: relative;

    .QueryViewFilter {
        background-color: var(--light-bg-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: var(--padding);
        background: var(--color-button-bg);
        border-radius: var(--border-radius);;
        padding-right: 5px;
        height: 43px; //TODO: Standardize inputs
        align-items: center;

        .QueryViewFilter-tags,
        .QueryViewFilter-icons {
            display: flex;
            align-items: center;
        }

        .QueryViewFilter-tags {
            flex-wrap: wrap;
            min-height: 100%;
        }
        .QueryViewFilter-icons {
            .IconButton {
                padding: 4px;
                .feather-filter {
                    padding: 1px;
                }
                .feather-refresh-cw {
                    padding: 2px;
                }
            }
        }
    }

    .scroll-wrapper {
        flex: 1;
        overflow-y: auto;
    }

    .loading-queries-message {
        padding: 36px 20px;
    }

    .no-result-message {
        color: var(--empty-text-color);
        text-align: center;
        font-weight: bold;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.QueryResult {
    cursor: pointer;
    border-bottom: var(--border);
    padding: 4px 12px;

    &:hover,
    &.selected {
        background-color: var(--hover-bg-color);
    }

    .exec-header {
        white-space: nowrap;
    }

    .query-context {
        @include ellipsis(3);
        word-break: break-all;
    }
}
