@import './../../scss_variables.scss';

.StatementExecutionPicker {
    .custom-statement-picker-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: var(--padding);
        color: var(--ui-text-color);

        .dropdown-icon {
            margin-left: 0.5em;
            position: relative;
            top: -2px;
        }
    }
}
