.QuerySnippetNavigator {
    display: flex;
    flex-direction: column;
    position: relative;

    .snippets-wrapper {
        flex: 1;
        position: relative;
        margin-top: var(--padding);
    }

    .snippet-search {
        margin-bottom: var(--padding);
        background: var(--color-button-bg);
        border-radius: var(--border-radius);
        padding-right: 5px;
        height: 45px;
        position: relative;

        .SearchBar {
            flex-grow: 1;
        }

        .IconButton {
            padding: 4px;

            .feather-filter {
                padding: 1px;
            }
        }
    }

    .Tabs {
        width: 100%;
    }
}

.QuerySnippetFilterPicker {
    padding: 10px;
}
