@import './../../scss_variables.scss';

.ListLink {
    display: flex;
    align-items: center;
    border-left: solid 6px transparent;
    padding: 4px 10px 4px 4px;
    color: var(--ui-text-color);
    cursor: pointer;
    user-select: none;

    .ListLinkText,
    .ListLinkPlaceholder {
        flex-grow: 1;
        margin-left: 4px;
        margin-right: 12px;
        font-size: var(--small-text-size);
        line-height: 27px;
        @include one-line-ellipsis();

        &:last-child {
            margin-right: 28px;
        }
    }

    .Icon {
        flex-shrink: 1;

        svg {
            padding: 20%;
        }
    }

    .Icon.ListLink-status-icon {
        // To keep same size as ListLink without Icon
        height: 17px;
        position: relative;
        top: -4px;
    }

    &.row {
        padding: 5px;

        .ListLinkText,
        .ListLinkPlaceholder {
            line-height: normal;
            margin-left: 0px;
        }
    }

    &.selected {
        color: var(--color-accent);
    }

    &:hover {
        color: var(--text-color);
    }
}
