.ChangeLog {
    .ChangeLog-list {

        .ChangeLog-list-title {
            font-weight: bold;
        }

        .ChangeLog-log-item {
            cursor: pointer;

            .Icon {
                color: transparent;
                svg {
                    // width: 28px;
                    // height: 28px;
                }
            }

            &:hover {
                .Icon {
                    color: var(--dark-text-color);
                }
            }
        }
    }
}
