.Tabs {
    cursor: default;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    padding: unquote("calc(var(--padding) / 2)");
    display: inline-flex;

    ul {
        display: flex;
        flex-direction: row;
        text-align: center;

        li {
            padding: var(--padding);
            // To make it visually the same padding even if different
            padding-left: unquote("calc(var(--padding) * 1.5)");
            padding-right: unquote("calc(var(--padding) * 1.5)");
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                color: var(--ui-text-color);

                .Icon {
                    & ~ span {
                        // To create gap between icon and title
                        margin-left: 4px;
                    }

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            &.active {
                // border-bottom-color: var(--select-border-color);
                background: var(--color-button-bg);
                border-radius: 5px;

                a {
                    // color: var(--color-accent);
                }
            }

            &:not(.active):hover {
                cursor: pointer;

                a {
                    color: var(--text-color);
                }
            }
        }
    }

    font-size: var(--small-text-size);

    &.small {
        font-size: var(--xsmall-text-size);
    }

    &.large {
        font-size: var(--text-size);
    }

    &.pills {
        &:not(.light-pills) {
            ul {
                li {
                    background-color: var(--pill-tab-color);

                    &.active {
                        background-color: var(--invert-select-color);
                        a {
                            color: var(--invert-text-color);
                        }
                    }

                    &:not(.active):hover {
                        background-color: var(--hover-bg-color);
                    }
                }
            }
        }
        &.light-pills {
            ul {
                li {
                    background-color: var(--hover-bg-color);

                    &.active {
                        background-color: var(--bg-color);
                    }

                    &:not(.active):hover {
                        background-color: var(--light-bg-color);
                    }
                }
            }
        }

        ul {
            border-radius: var(--border-radius);
            li {
                padding: 4px 16px;
                border-bottom: none;

                &:first-child {
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                }
                &:last-child {
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }
            }
        }
    }

    &.wide {
        ul {
            width: 100%;

            li {
                flex: 1;
            }
        }
    }

    &.vertical {
        ul {
            flex-direction: column;
        }
    }

    &.center-align {
        ul {
            justify-content: center;
        }
    }
    &.left-align {
        ul {
            justify-content: left;
        }
    }
}
