.DataTableViewOverviewSection {
    background: var(--bg-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--padding);
    padding: var(--padding);

    .overview-section-top {
        margin-bottom: var(--padding);
    }
}