.QuerySnippetInsertionModal {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: unquote("calc(2 * var(--padding))");

    .query-snippet-insertion-content {
        flex: 1;
        display: flex;
        overflow: hidden;

        .query-snippet-navigator-wrapper {
            height: 100%;

            .QuerySnippetNavigator {
                height: 100%;
            }
        }

        .query-snippet-view-wrapper {
            flex: 1;
            overflow: auto;
            padding: unquote("calc(2 * var(--padding))");
            background: var(--color-primary);
            border-radius: var(--border-radius);
            margin-left: 10px;
        }

        .Sidebar {
            border-right: 0px;
        }
    }

    .query-snippet-insertion-header {
        padding: var(--padding) 0px;
    }

    .snippet-author-info {
        font-size: var(--text-size);

        figure.image {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .snippet-description {
        p {
            white-space: pre-wrap;
        }
    }
}
