.DataTableViewQueryExamples {

    .DataTableViewQueryExamples-header {
        font-weight: bold;
    }

    .filter-selection-section {
        .Button.active {
            border-color: var(--color-accent-text);
            background-color: var(--color-accent-bg);
        }
    }

    .DataTableViewQueryExamples-item {
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        background: var(--bg-color);
        padding: var(--padding);
        border-radius: var(--border-radius);

        .DataTableViewQueryExamples-query {
            height: auto;
            max-height: 360px;
            overflow-y: auto;
            border-radius: var(--border-radius);
        }

        .DataTableViewQueryExamples-info {
            text-align: left;
            margin-right: var(--padding);
            color: var(--ui-text-color);
            margin-top: 10px;
        }

        .IconButton {
            position: absolute;
            top: 0px;
            right: 20px;
        }

        .CodeMirror {
            border-radius: var(--border-radius);

            &.cm-s-monokai {
                background: var(--color-secondary);
                color: var(--text-color);
            }
        }
    }
}

.DataTableViewQueryUsers,
.DataTableViewQueryConcurrences {
    .query-filter-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .Button {
            margin-right: 4px;
            margin-top: 4px;
        }
    }
}
