.SearchBar {
    position: relative;
    display: flex;
    align-items: center;

    .DebouncedInput {
        flex: 1;
    }
    &.transparent {
        .DebouncedInput {
            input {
                padding: var(--padding);
            }
        }
    }
    .SearchIcon {
        position: absolute;
        right: 12px;
        color: var(--icon-color);
    }

    .search-bar-clear-sep {
        display: none;
        border-left: var(--border);
        height: 20px;
    }
}
