.Modal {
    .Modal-title {
        background-color: var(--bg-color-secondary);
        height: 62px; // This is dependent on Tabs height + 2 --padding
        padding: var(--padding);
        padding-left: unquote("calc(2 * var(--padding))");
        display: flex;
        align-items: center;
    }

    .Modal-close {
        position: absolute;
        // Visually centered with the tabs/title
        right: 19px;
        top: 19px;
        padding: 0;
    }

    .FullScreenModal,
    .StandardModal {
        z-index: 300;
        display: flex;
        flex-direction: column;
    }

    .StandardModal {
        padding-top: 8vh;
        align-items: center;
        overflow: hidden;

        &.wide {
            .Modal-box {
                max-width: var(--max-width);
            }
        }

        &.message-size {
            .Modal-box {
                width: 600px;
            }
        }

        &.with-padding {
            .Modal-box .Modal-content {
                padding: 16px 20px;
            }
        }

        &.no-scroll .Modal-box .Modal-content {
            overflow: hidden;
        }

        .Modal-background {
            background-color: var(--modal-bg-color);
            opacity: var(--modal-bg-opacity);
        }

        &.is-active .Modal-box {
            opacity: 1;
            transform: none;
        }

        .Modal-box {
            width: 90vw;
            min-width: 400px;
            max-width: var(--max-width);
            max-height: 84vh;
            margin: 0 auto;
            border-radius: 10px; // I think it's ok for Modals to differ
            background-color: var(--bg-color);
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            opacity: 0;
            // Animating takes extra time so disabling by default
            // transform: translate(0, 5vh);
            // transition: all 0.2s ease-out;

            .Modal-content {
                max-height: inherit;
                height: auto;
                overflow-y: auto;
            }
        }
    }

    .FullScreenModal {
        background-color: var(--bg-color);
        max-height: 100vh;
        max-width: 100vw;
        .Modal-content {
            position: relative;
            height: 100%;
        }
    }
}
