.ConfirmationMessage {
    .confirmation-header {
        font-size: var(--xlarge-text-size);
        font-weight: var(--bold-font);
        font-family: var(--family-display);
    }

    .confirmation-buttons {
        margin-top: 15px;
    }
}
